html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dn {
  display: none;
}

.app-panel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.not-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
