.div-progressbar {
  width: 20%;
  position: absolute;
  top: 40%;
  left: 40%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.div-progressbar-font {
  height: 25px;
  line-height: 25px;
  color: #fff;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.div-label {
  color: #000 !important;
  font-size: 16px !important;
  font-weight: bolder !important;
}

.breadcrumb-content {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  position: absolute;
  left: .2rem;
  top: 1.1rem;
  font-size: 0.18rem;
  padding: 0.15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.breadcrumb-contents {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  position: absolute;
  left: .2rem;
  top: 2.1rem;
  font-size: 0.18rem;
  padding: 0.15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.breadcrumb-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}

.breadcrumb-item span:nth-child(1) {
  font-size: 0.8em;
  text-shadow: 0 0 5px #00ffff, 0 0 5px #00ffff, 0 0 10px #00ffff,
    0 0 15px #00ffff;
}

.breadcrumb-item span:nth-child(2) {
  font-size: 0.6em;
  text-shadow: 0 0 5px #00ffff, 0 0 5px #00ffff, 0 0 10px #00ffff,
    0 0 15px #00ffff;
}

.div-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #2d3086;
    border-radius: 10px;
    border: 1px solid #0007d4; */
  border: 1px solid #1e9fff;
  opacity: 0.9;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 170px;

  cursor: pointer;
}

.div-label .label-light {
  color: #f2f2f2;
  background: url("../assets/images/1.png");
  font-size: 9px;
  width: 166px;
  height: 25px;
  line-height: 25px;
  text-indent: 15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.div-label .label-dark {
  color: #f2f2f2;
  background: url("../assets/images/2.png");
  font-size: 9px;
  width: 166px;
  height: 25px;
  line-height: 25px;
  text-indent: 15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.div-label .firstdiv {
  font-size: 9px !important;
}

.div-label .label-img img {
  width: 10px !important;
  height: 10px !important;
}

.div-label .label-number {
  width: 156px;
}

.div-label .label-div1,
.div-label .label-div2 {
  float: left;
}

.div-label .label-div1 {
  width: 25px;
  overflow: hidden;
}

.div-label .label-div2 {
  color: #fff;
  font-size: 9px;
  overflow: hidden;
  /* text-align: center; */
  /*   text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFF; */
}

.model-labelmore {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #2d3086;
    border-radius: 10px;
    border: 1px solid #0007d4; */
  border: 2px solid #ddd;
  opacity: 0.9;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 120px;

  cursor: pointer;
}